@charset "UTF-8";
/* CSS Document */
 
/*  RESET  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic);

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('modernpics-webfont.eot');
    src: url('modernpics-webfont.eot@#iefix') format('embedded-opentype'),
         url('modernpics-webfont.woff') format('woff'),
         url('modernpics-webfont.ttf') format('truetype'),
         url('modernpics-webfont.svg#ModernPictograms tNormal') format('svg');
    font-weight: normal;
    font-style: normal;
	}

html, body, div, span,a, img, b, u, i, center,
 ol, ul, li,tr, th, td, header,menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	float: none;
	}
	
p:empty { display: none; }
	
.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
	}
	
.clearbig {
	clear: both;
	display: block;
	font-size: 0;
	height: 40px;
	line-height: 0;
	width:100%;
	}
	
#sb-nav a {
	border-bottom:none;
	}
	
img { 
	transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-moz-transition:all .2s linear; 
	-webkit-transition:all .2s linear;
	}
	
body {
	font-weight:300;
	transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-moz-transition:all .2s linear; 
	-webkit-transition:all .2s linear;
	font-family:'Lato', sans-serif;
	font-size:16px;
	}
	
::selection {
	background: #323232; /* Safari */
	color: #ffffff;
	text-shadow:none;
	}
	
::-moz-selection {
	background: #323232; /* Firefox */
	color: #ffffff;
	text-shadow:none;
	}
	
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  opacity: 1.0;
	}

img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
	margin-top: 5px;
	}
	
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
	text-align:center;
	margin-bottom:20px;
	margin-top:20px;
	}
	
.aligncenter img {
	margin-bottom:20px;
	}
	
img.alignleft {
	margin-right:20px;
	margin-bottom:20px;
	}
	
img.alignright {
	margin-left:20px;
	margin-bottom:20px;
	}
	
article,
header,
hgroup,
nav,
section {
	display: block;
	}


html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}

a:hover,
a:active,
a:focus {
	outline: 0;
	}



img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
	opacity: 1.0;
	filter: alpha(opacity=100);
	}
	
img.left {
	float:left;
	margin:0 20px 20px 0;
	}
	
img.right {
	float:right;
	margin:0 20px 20px 0;
	}

button,
input,
select,
{
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
	}

button,
input {
	*overflow: visible;
	line-height: normal;
	}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
	}


/*  START OF STYLES  */

.red, .red a {
	color: #ff675b;
}

ul, ol {
	margin:0;
	padding:0;
	}
	
ul li {
	list-style:square inside none;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color:#878787;
	}
	
.left_content ul li, ol li {
	line-height: 1.8em;
}
	
ul li a {
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	-webkit-transition:all 0.3s ease-in;  
    -moz-transition:all 0.3s ease-in;  
    -o-transition:all 0.3s ease-in;  
    transition:all 0.3s ease-in;
	outline: none;
	color:#ff675b;
	}
	
ol li {
	list-style:decimal inside none;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color:#656565;
	}
	
ol li a {
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	-webkit-transition:all 0.3s ease-in;  
    -moz-transition:all 0.3s ease-in;  
    -o-transition:all 0.3s ease-in;  
    transition:all 0.3s ease-in;
	outline: none;
	color:#ff675b;
	}
	


#top_wrapper {
	width:100%;
	background-color:#4baad3;
	}

.jumbotron1{padding:30px;margin-bottom:30px;font-size:100%;font-weight:200;line-height:2.1428571435;color:inherit;background-color:#eee}

.jumbotron1{border-radius:6px}@media screen and (min-width:768px)
{.jumbotron1{padding-top:48px;padding-bottom:48px}.container 
.jumbotron1{padding-right:60px;padding-left:60px}
}

